---
import { readConfig, readScripts } from '$lib/scripts';

interface Props {
    type: "plugins" | "libraries";
}

const { type } = Astro.props;
const scripts = await readScripts(type);
const configs = await Promise.all(scripts.map((script) => readConfig(type, script)));
---

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>        
        {configs.map((script) => (
            <tr>
                <td>
                    <a href={`/${type}/${script.name}`}>
                        {script.name}
                    </a>
                </td>
                <td>{script.description}</td>
            </tr> 
        ))}
    </tbody>
</table>