---
import '../../lib/app.css'
import Install from "$components/Install.svelte";
---

<html lang="en" class="h-full dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Install | Gimloader</title>
	</head>
	<body class="h-full">
		<Install client:only="svelte" />
	</body>
</html>